body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    padding-bottom: 100px;
}

.header {
    background-color: #4a148c;
    padding: 15px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 31px;
    font-weight: bold;
    color: #f7f7f7;
}
.item {
    padding: 10px 25px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s;
    font-weight: bold;
    color: #f7f7f7;
    text-decoration: none;
}

.item:last-child {
    border-right: none;
}

.item:hover {
    background-color: #e0c9f7;
    color: black;

}

.menu-bar {
    display: flex;
    background-color: #4a148c;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-decoration: none;
}

.form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.form-container label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="datetime-local"] {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 1rem;
}

.form-container button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #4a148c;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.form-container button:hover {
    background-color: #e0c9f7;
    color: black;
}

.success-message {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 12px 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.3s;
}

.error-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.3s ease;
}
